.rewards{
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 1340px;
    height: 90vh;
}

.rewards-div{
    width: 100%;
    height: fit-content;
    min-height: 80vh;
    gap: 30px;
    flex-wrap: wrap;
}