.game {
    width: 100%;
    height: 90vh;
    padding: 30px;
}

.game-image{
    width: 70%;
    max-width: 1340px;
    height: 50%;
    border-radius: 20px;
}

.game-image img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.game-screen-shots{
    width: 70%;
    height: 20%;
    background-color:#35689d30 ;
    border-radius: 20px;
    gap: 20px;
    overflow-x: hidden;
}

.game-screen-shots::-webkit-scrollbar{
    display: none;
}

.screen-shots-container {
  animation: slide 10s linear infinite; 
  white-space: nowrap;
  }

.game-description{
    width: 70%;
    height: 26%;
    background-color: #35689d30;
    border-radius: 20px;
}

.screen-shot{
    width: 200px;
    height: 120px;
    flex: 0 0 auto;
    margin-right: 20px; 
    display: inline-block;
}

.screen-shot:last-child {
    margin-right: 0;
  }

.screen-shot img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@keyframes slide{
    0%{
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-50%); 
}
}

.game-description h3{
    width: 100%;
    text-align: center;
    font-weight: 100;
    color: var(--color-dark-grey);
}

.game-description button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    padding:10px;
    text-align: center;
}