.creator-card{
    width: 420px;
    height: 300px;
    border-radius: 10px;
    background-color: #35689D07;
}

.creator-card img{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.creator-card-info{
    width: 100%;
    height: 40%;
    padding: 10px;
}

.creator-card-info>div{
    width: 100%;
}

